@model DigitizingDataAdminApp.Models.CbtInformation

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "AddCbt";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <h4 style="text-align: center;">Add New CBT </h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <td><strong>@Html.DisplayName("Full Name")</strong></td>
            <td>@Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayName("Region")</strong></td>
            <td>@Html.DropDownList("RegionId", Model.VslaRegionsModel, new { @style = "width:175px; height:30px;"})
                @Html.ValidationMessageFor(model => model.Region)
            </td>
        </tr>

        <tr>
            <td><strong>@Html.DisplayName("Phone Number")</strong></td>
            <td>@Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayName("Email")</strong></td>
            <td>@Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayName("Status")</strong></td>
            <td>@Html.DropDownList("Status_Id", Model.StatusType, new { @style = "width:250px; height:30px;" })
                  @Html.ValidationMessageFor(model => model.Status)
            </td>
        </tr>
    </table>
    <p>
        <input class="btn btn-small btn-primary" type="submit" value=" Create " style="width: 100px;" />
        | 
          @Html.ActionLink("Back to List", "CbtData")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
