@model DigitizingDataAdminApp.Models.UserInformation

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "AddUser";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add new user</legend>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Fullname)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Fullname)
                @Html.ValidationMessageFor(model => model.Fullname)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.UserLevel)
            </div>
            <div class="editor-field">
               @* @Html.EditorFor(model => model.UserLevel)
                @Html.ValidationMessageFor(model => model.UserLevel)*@
                <select id="user_level">
                    <option value="1">Administrator</option>
                    <option value="2">User</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <p>
                <input class="btn btn-small btn-primary" type="submit" value=" Create " style="width: 100px;" />
            </p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "UsersData")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
