@model DigitizingDataAdminApp.Models.AllCbtInformation
@using GridMvc.Html
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "CbtData";
}

<h4>Community Based Trainers(CBTs)</h4>
<hr />
<p>
    @Html.ActionLink("Add New CBT", "AddCbt")
</p>

<div style="width:auto; margin: 0 auto;">
        @Html.Grid(Model.AllCbtList).Columns(columns => 
                    {
                        columns.Add(c => c.Id).Titled("Id");
                        columns.Add(c => c.Name).Titled("Name");
                        columns.Add(c => c.Region).Titled("Region");
                        columns.Add(c => c.PhoneNumber).Titled("Phone Number");
                        columns.Add(c => c.Email).Titled("Email");
                        columns.Add(c => c.Status).Titled("Status");
                        columns.Add().Titled("Edit").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Edit", "EditCbt", new { id = c.Id }));
                        columns.Add().Titled("Details").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Details", "CbtDetails", new { id = c.Id }));
                        columns.Add().Titled("Delete").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Delete", "DeleteCbt", new { id = c.Id }));
                    }).WithPaging(10).Sortable(true)
    </div>