@model DigitizingDataAdminApp.Models.VslaInformation

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "DeleteVsla";
}

<h2>DeleteVsla</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>VslaInformation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VslaId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VslaId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VslaCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VslaCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VslaName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VslaName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateRegistered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRegistered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateLinked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateLinked)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhysicalAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhysicalAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VslaPhoneMsisdn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VslaPhoneMsisdn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GpsLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GpsLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactPerson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPerson)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PositionInVsla)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PositionInVsla)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CBT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CBT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
