@model DigitizingDataAdminApp.Models.VslaMembersInformation

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<fieldset>
    <legend>Member Information for  @Html.DisplayFor(model => model.surname) @Html.DisplayFor(model => model.otherNames)</legend>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Member Number")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.memberNumber)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Surname")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.surname)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Other Names")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.otherNames)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Gender")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.gender)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Occupation")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.occupation)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Date of Birth")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Date Archive")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.dateArchived)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Number of Cycles Completed")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.cyclesCompleted)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Is Member Active")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.isActive)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Is Member Archived")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.isArchive)
        </div>
    </div>
    <div class="form-group">
        <div class="display-label">
            @Html.DisplayName("Phone Number")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.phoneNumber)
        </div>
    </div>
</fieldset>