@model DigitizingDataAdminApp.Models.VslaGroupsInformation
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Vsla Groups Information";
}
<div id="tabs" style="width: 100%; min-width: 1000px; margin: 0 auto; font-size: small;">

    <ul>
        <li><a href="#allgroups">VSLA Groups</a></li>
        <li><a href="#groupsuppport">Group Support</a></li>
        <li><a href="#addnewgroup">Add New VSLA Group</a></li>
    </ul>

    <div id="allgroups">
        <p style="text-align: right;">
            <a href="@Url.Action("Export_Vslas", "Dashboard")"><strong>Export to CSV</strong></a>
        </p>

        <div style="width: auto; min-width: 900px; margin: 0 auto;">
            <table class="display" style="width: 100%; font-size: small;" id="data-table">
                <thead>
                    @if (@Model.sessionUserLevel == 1)
                    { 
                        <tr>
                            <th>ID</th>
                            <th>VSLA Name</th>
                            <th>VSLACode</th>
                            <th>DateRegistered</th>
                            <th>Meetings</th>
                            <th>Members</th>
                            <th>Details</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>ID</th>
                            <th>VSLA Name</th>
                            <th>VSLACode</th>
                            <th>DateRegistered</th>
                            <th>Meetings</th>
                            <th>Members</th>
                            <th>Details</th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @foreach (var item in Model.AllGroupsList)
                    {
                        if (@Model.sessionUserLevel == 1)
                        {
                        <tr>
                            <td>@item.VslaId </td>
                            <td>@item.VslaName </td>
                            <td>@item.VslaCode </td>
                            <td>@(item.DateRegistered.HasValue ? item.DateRegistered.Value.ToString("dd/MM/yyyy") : "---")</td>
                            <td>@Html.ActionLink("Meetings", "VslaGroupMeetings", new { id = item.VslaId })</td>
                            <td>@Html.ActionLink("Members", "VslaGroupMembers", new { id = item.VslaId }) </td>
                            <td><a href="@Url.Action("VslaGroupDetails", "Dashboard", new { id = item.VslaId })">
                                <img  src="@Url.Content("~/Content/Images/details.png")"/></a></td>
                            <td><a href="@Url.Action("EditVslaGroup", "Dashboard", new { id = item.VslaId })">
                                <img  src="@Url.Content("~/Content/Images/edit.png")"/></a></td>
                            <td><a href="@Url.Action("DeleteVslaGroup", "Dashboard", new { id = item.VslaId })">
                                <img  src="@Url.Content("~/Content/Images/delete.png")"/></a></td>
                        </tr>
                        }
                        else
                        {
                        <tr>
                            <td>@item.VslaId </td>
                            <td>@item.VslaName </td>
                            <td>@item.VslaCode </td>
                            <td>@(item.DateRegistered.HasValue ? item.DateRegistered.Value.ToString("dd/MM/yyyy") : "---")</td>
                            <td>@Html.ActionLink("Meetings", "VslaGroupMeetings", new { id = item.VslaId })</td>
                            <td>@Html.ActionLink("Members", "VslaGroupMembers", new { id = item.VslaId }) </td>
                            <td><a href="@Url.Action("VslaGroupDetails", "Dashboard", new { id = item.VslaId })">
                                <img  src="@Url.Content("~/Content/Images/details.png")"/></a></td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="groupsuppport">
        <h6 style="text-align:center;"><strong>Support Modules Offered to the Groups</strong></h6>
        <div style="width: auto; min-width: 900px; margin: 0 auto;">
            <table class="display" style="width: 100%; font-size: small;" id="data-table1">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Trainer's name</th>
                        <th>Support Type</th>
                        <th>Support Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.groupSupportProvided)
                    { 
                        <tr>
                            <td>@item.GroupName</td>
                            <td>@item.TrainerName</td>
                            <td>@item.SupportType</td>
                            <td>@item.fSupportDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="addnewgroup">
        <p style="text-align: right;"><strong>@Html.ActionLink("Back", "VslaGroupInformation")</strong></p>
        @using (Html.BeginForm("AddVslaGroup", "Dashboard", FormMethod.Post, new { id = "addnewgroup" }))
        {
            @Html.ValidationSummary(true)
            <table class="table table-bordered">
                <tr>
                    <td><strong>@Html.DisplayName("VSLA Name")</strong></td>
                    <td>@Html.TextBoxFor(model => model.VslaName, new { @Placeholder = " e.g ABCD VSLA Group" })</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Region")</strong></td>
                    <td>@Html.DropDownList("RegionId", Model.VslaRegions, new { @style = "width:185px;" }) </td>
                </tr>

                <tr>
                    <td>
                        <strong>@Html.DisplayName("Date Registered")</strong>
                    </td>
                    <td>
                        <input type="date" id="DateRegistered" name="DateRegistered" class="datepicker" style="width: 185px; height: 30px;" />
                    </td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Date linked to the Bank")</strong></td>
                    <td>
                        <input type="date" id="DateLinked" name="DateLinked" class="datepicker" style="width: 185px; height: 30px;" />
                    </td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Physical Address")</strong></td>
                    <td>@Html.TextBoxFor(model => model.PhysicalAddress, new { @Placeholder = "e.g Behind the grain mill" })</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Phone MSISDN")</strong></td>
                    <td>@Html.TextBoxFor(model => model.VslaPhoneMsisdn, new { @Placeholder = "e.g 256774123456" })</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("GPS Location")</strong></td>
                    <td>@Html.TextBoxFor(model => model.GpsLocation, new { @Placeholder = " eg 0.2345566,34.234567" })</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Contact Person")</strong></td>
                    <td>@Html.TextBoxFor(model => model.ContactPerson, new { @placeholder = "e.g John Doe" })</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Position of Contact Person in VSLA")</strong></td>
                    <td>@Html.TextBoxFor(model => model.PositionInVsla, new { @Placeholder = "eg Mobile Secretary" })</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Phone Number of Contact Person")</strong></td>
                    <td>@Html.TextBoxFor(model => model.PhoneNumber, new { @Placeholder = "e.g 0774123567" })</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Responsible Technical Trainer")</strong></td>
                    <td>@Html.DropDownList("Id", Model.AllTechnicalTrainers, new { @style = "width:185px;" }) </td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Status of VSLA")</strong></td>
                    <td>@Html.DropDownList("Status_Id", Model.StatusType, new { @style = "width:185px;" })</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayName("Group Account Number")</strong></td>
                    <td>@Html.TextBoxFor(model => model.GroupAccountNumber, new { @placeholder = "e.g 1234567890" })</td>
                </tr>
            </table>
            <p>
                <input class="btn btn-small btn-primary" type="submit" name="AddVslaGroup" value=" Create " style="width: 100px;" />
            </p>
            <div style="width: auto; height: auto; color: red;">
                <table>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.VslaName) </td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.RegionName) </td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.DateRegistered)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.DateLinked)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.PhysicalAddress)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.VslaPhoneMsisdn)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.GpsLocation)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.ContactPerson)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.PositionInVsla) </td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.PhoneNumber) </td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.TechnicalTrainer)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.Status)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.GroupAccountNumber)</td>
                    </tr>
                </table>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>


