@model DigitizingDataAdminApp.Models.AllVslaInformation
@using GridMvc.Html
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "VslaData";
}

<h4><strong>List Of All VSLAs</strong></h4>
<hr />

<p>
    <a href="@Url.Action("AddVsla", "Dashboard")">
        <img  src="@Url.Content("~/Content/Images/add_group.png")"/>
        <strong>Add New VSLA</strong>
    </a>|
    <a href="@Url.Action("ExportVSLAsToCSV", "Dashboard")">
        <img  src="@Url.Content("~/Content/Images/export_csv.png")"/>
        <strong>Export to CSV</strong>
    </a>
</p>

<div style="width: auto; min-width: 1000px; margin: 0 auto;">
    @Html.Grid(Model.AllVslaList).Columns(columns =>
                    {
                        //columns.Add(c => c.VslaId).Titled("Id");
                        columns.Add(c => c.VslaName).Titled("VSLA Name").Filterable(true);
                        columns.Add(c => c.VslaCode).Titled("VSLA Code").Filterable(true);
                        columns.Add(c => c.formattedDateRegistered).Titled("Date Registered");
                        columns.Add().Titled("Meetings").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Meetings", "VslaMeetings", new { id = c.VslaId }));
                        columns.Add().Titled("Members").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Members", "VslaMembers", new { id = c.VslaId }));
                        columns.Add().Titled("Details").Encoded(false).Sanitized(false).RenderValueAs(c => @<a href="@Url.Action("VslaDetails", "Dashboard", new { id = c.VslaId })">
                            <img  src="@Url.Content("~/Content/Images/details.png")"/></a>);
                        columns.Add().Titled("Edit").Encoded(false).Sanitized(false).RenderValueAs(c => @<a href="@Url.Action("EditVsla", "Dashboard", new { id = c.VslaId })">
                            <img  src="@Url.Content("~/Content/Images/edit.png")"/></a>);
                        columns.Add().Titled("Delete").Encoded(false).Sanitized(false).RenderValueAs(c => @<a href="@Url.Action("DeleteVsla", "Dashboard", new { id = c.VslaId })">
                            <img  src="@Url.Content("~/Content/Images/delete.png")"/></a>);
                    }).WithPaging(30).Sortable(true)
</div>
