@model DigitizingDataAdminApp.Models.AllMeeetingsSummary
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "VslaReporting";
}
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>
<div id="tabs" style="width: 100%; min-width: 1000px; margin: 0 auto; font-size: small;">
    <ul>
        <li><a href="#meetings-tabs">Weekly Meetings</a></li>
        <li><a href="#savings-tabs">Group Savings</a></li>
        <li><a href="#visualization-tabs">Visualizations</a></li>
    </ul>
    <div id="meetings-tabs">
        <div>
            <h6 style="text-align: center;"><strong>Weeky Information on meetings</strong></h6>
            <a style="text-align:right; text-decoration-color:#0026ff;" href="@Url.Action("ExportWeeklySummary", "Dashboard")"><strong>Export to CSV</strong></a>
        </div>
        <div style="width: 100%; min-width: 900px; margin: 0 auto;">
            <table class="display" style="width: 100%;" id="data-table">
                <thead>
                    <tr>
                        <th>VSLA Code</th>
                        <th>Fines</th>
                        <th>Date Sent</th>
                        <th>Meeting Date</th>
                        <th>Savings</th>
                        <th>Loans</th>
                        <th>Loan Repayment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.meetingsSummary)
                    { 
                        <tr>
                            <td>@item.VslaCode</td>
                            <td>@item.cashFines</td>
                            <td>@item.formattedDateSent</td>
                            <td>@item.formattedMeetingDate</td>
                            <td>@item.sumOfSavings</td>
                            <td>@item.sumOfLoansIssued</td>
                            <td>@item.sumOfLoanRepayments</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="savings-tabs">
        Content for Tab 2 goes here.<br />
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </div>

    <div id="visualization-tabs">
        Content for Tab 3 goes here.<br />
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </div>
</div>
