@model DigitizingDataAdminApp.Models.AllVslaMemberInformation
@using GridMvc.Html
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "VslaMembers";
}

<h4>All Members of @Model.vslaName</h4>
<div>
    Export Data : @Html.ActionLink("Excel", "ExportMembersToCSV", new { id = @Model.vslaId, fileName = @Model.vslaName})
</div>
<div style="width: auto; min-width: 1000px; margin: 0 auto;">
    @Html.Grid(Model.allVslaMembers).Columns(columns =>
                    {
                        columns.Add(c => c.memberNumber).Titled("Member No.");
                        columns.Add(c => c.surname).Titled("Surname");
                        columns.Add(c => c.otherNames).Titled("Other Names");
                        columns.Add(c => c.gender).Titled("Gender");
                        columns.Add(c => c.occupation).Titled("Occupation");
                        columns.Add().Titled("Details").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Details", "MemberDetails", new { id = c.memberId }));

                    }).WithPaging(30).Sortable(true)
</div>
