@model DigitizingDataAdminApp.Models.AllVslaMeetingInformation
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "VslaMeetings";
}
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs" style="width: 100%; min-width: 1000px; margin: 0 auto; font-size: small;">

    <ul>
        <li><a href="#meetings">Group Meetings For @Model.vslaName</a></li>
    </ul>

    <div id="meetings">
        <p style="text-align: right;">
            <a href="@Url.Action("ExportVSLAMeetingsToCSV", "Dashboard", new { id = @Model.vslaId, fileName = @Model.vslaName })">
                <strong>Export to CSV</strong>
            </a>
            |
    <strong>@Html.ActionLink("Back", "VslaGroupInformation")</strong>
        </p>
        <div style="width: auto; min-width: 900px; margin: 0 auto;">
            <table class="display" style="width: 100%; font-size: small;" id="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Members Present</th>
                        <th>Fines</th>
                        <th>Amount Saved</th>
                        <th>Total Loans</th>
                        <th>Loan Outstanding</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.allVslaMeetings)
                    { 
                        <tr>
                            <td>@item.MeetingId</td>
                            <td>@item.formattedMeetingDate</td>
                            <td>@item.membersPresent</td>
                            <td>@item.formattedCashFines</td>
                            <td>@item.formattedTotalSavings</td>
                            <td>@item.formattedTotalLoans</td>
                            <td>@item.formattedLoanRepayment</td>
                            <td><a href="@Url.Action("SingleMeetingDetails", "Dashboard", new { id = item.MeetingId })">
                                <img  src="@Url.Content("~/Content/Images/details.png")"/></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>
